* {
  box-sizing: border-box;
}

body{
    background-color: #f8f9d2;
background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    border-radius: 5px;
    border:1px solid black;
    text-align: center;
    height:40px;
    
}

.main-box {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  overflow: hidden; /*to hide scorll bar*/
  margin-top: -10px;
  background: #f3f8f0;
  border: 1px ridge rgb(243, 247, 243);
  border-radius: 5px;
}

.container-1 {
  display: flex;
  width: 90vw;
  /* margin:auto; */
}

.panel {
  background-size: auto 110%;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* ---------second part styling -------------------------------------------- */

.wishbox{
    display: flex;
    flex-direction: row;
    width:100%;
    padding:10px;
    background-color: white;

}

.wishbox p{
    font-family: 'Edu VIC WA NT Beginner', cursive;
font-family: 'Nunito Sans', sans-serif;
text-align: justify;
position: relative;
top:50px;

}

.wishbox img{
   
    width:30%;
    height:40vh;
    
}


.carousel{
    margin:20px;
    border-radius: 10px;
}

.audio{
 margin:5px 20px;
 border-radius: 5px;

 background-color: #eec0c6;
 background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
 
}

.audio audio{
    width:70%;
    margin:1px 50px;
}

.moon img{
  width:90%;
  margin:10px 20px;
  height:540px;
}

footer h2{
  background-color: transparent;
  margin-bottom: 10px;
}

.buton a{
  text-decoration: none;
  background-color: aqua;
  border:2px solid green;
  border-radius: 10px;
  margin:10px 20%;
  height:30px;
  width:80%;
  padding:auto;
  

}


@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(5)
     /* .panel:nth-of-type() */ {
    display: none;
  }
}
